.about-row-1 {
    background-color: black;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.about-row-2 {
    background-color: white;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.about-row-1 h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1888ff;
}

.about-row-2 h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
}

.about-row-1 h2 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #1888ff;
}

.about-row-2 h2 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #1f003b;
}

.about-row-1 ol {
    width: 50%;
    height: 300px;
}

.about-row-2 ol {
    width: 50%;
    height: 300px;
}

.about-row-1 li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 1%;
    text-align: left;
    width: 80%;
    margin: auto;
    color: rgb(173, 172, 172);
}

.about-row-2 li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 1%;
    text-align: left;
    width: 80%;
    margin: auto;
}

.left-image {
    width: 45%;
    height: 300px;
}

.left-image img {
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    height: 100%;
    border-radius: 0 10% 0 10%;
}

.about-row-1 p{
    width: 90%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(173, 172, 172);
}

.about-row-2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    .left-image {
        width: 0%;
        height: 0px;
    }
    
    .left-image img {
        display: none;
    }

    .about-row ol {
        width: 100%;
        height: 350px;
    }
}